IrtWeb/bin
Irt.UnitTests/bin
Irt.IntegrationTest/bin
Irt.Core/bin
Irt.Core/obj
IrtWeb/obj
Irt.UnitTests/obj
Irt.IntegrationTest/obj
Irt.Infrastructure/obj
Irt.Infrastructure/bin
Irt.Application/obj
Irt.Application/bin
Irt.SharedKernel/obj

# Build artifacts (all projects)
**/bin/
**/obj/


# ReSharper/Rider user-specific settings
*.DotSettings.user
